*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-darkgray: rgb(39, 39, 39);
  --bg-lightsilver: #fafafa;
  --bg-lightersilver: #ddd;
  /* --bg- */
  --bg-silver: #ccc;

  --c-darkgray: rgb(37, 37, 37);

  --fs-1: 2rem;
  --fs-2: 1.4rem;
  --fs-3: 1rem;
  --fs-4: 0.91rem;
  --fs-5: 0.57rem;

  --slider-height: calc(100vh - 140px);
}

/* FONTS */
/* BPG Banner */
/* BPG Banner Caps */
/* BPG Glaho WEB Caps */
/* FONTS */

@media screen and (max-width: 1366px) {
  :root {
    --fs-1: 1.6rem;
    --fs-2: 1.06rem;
    --fs-3: 0.83rem;
    --fs-4: 0.76rem;
    --fs-5: 0.46rem;

    --slider-height: calc(100vh - 140px);
  }
}

body {
  background-color: #efefef;
}

body::-webkit-scrollbar {
  width: 10px;
  display: none;
}

a {
  text-decoration: none;
}

/* TOP-HEADER */
.top-header {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: black;
  color: #eee;
  padding: 0 50px;
  position: sticky;
  top: 0px;
  z-index: 4;
}

/* ------------------ WEBICONS START */
.web-icons {
  min-width: 20%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: end;
  border-right: 1px solid var(--bg-darkgray);
  position: relative;
}

.web-icons ul li {
  list-style-type: none;
  margin-right: 30px;
  display: inline-block;
}

.web-icons ul li a {
  font-size: 1.3rem;
  color: white;
}

/* ----------------- WEBICONS END */

/* CONTACT START */
.th-contact {
  min-width: 15%;
  height: 75%;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 20px;
  border-right: 1px solid var(--bg-darkgray);
}

.th-contact a {
  color: white;
  font-size: 1.3rem;
  display: flex;
  align-items: center;
}

.th-contact a span {
  font-size: var(--fs-3);
  margin-left: 20px;
  font-family: "bpg banner";
}

/* CONTACT END */

/* LANGUAGE START */

.th-lang {
  width: 50px;
  height: 75%;
  margin-left: auto;
  border-left: 1px solid var(--bg-darkgray);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.th-lang ul {
  list-style-type: none;
}

.primary-lang {
  padding: 0 10px 0px 10px;
}

.lang-menu {
  position: absolute;
  display: none;
  background-color: #000;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}

.th-lang img,
.lang-menu li img {
  width: 32px;
}

.th-lang:hover .lang-menu {
  display: block;
}

/* LANGUAGE END */
/* TOP-HEADER END */

/* HEADER START */
.header {
  width: 100%;
  height: 90px;
  background-color: var(--bg-lightsilver);
  display: flex;
  align-items: center;
  padding: 0 20px 0 50px;
  position: sticky;
  top: 50px;
  z-index: 3;
  user-select: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

/* HEADER LOGO START */
.header-logo {
  /* min-width: 100px; */
  /* width: 20%; */
  height: 100%;
  padding: 5px;
}

.header-logo img {
  height: 100%;
}

/* HEDAER LOGO END */

/* NAVBAR MENU START */

.navbar {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  cursor: default;
  color: var(--c-darkgray);
}

.navbar ul {
  list-style-type: none;
}

.navbar ul li {
  display: inline-block;
  margin-left: 40px;
  font-family: "bpg banner caps";
  font-size: var(--fs-2);
}

.navbar ul li a {
  color: var(--bg-darkgray);
}

/* NAVBAR DROPDOWN START */

.dropdown span {
  display: flex;
  align-items: center;
}

.dropdown span::after {
  content: "⌵";
  margin-left: 5px;
  margin-bottom: 5px;
}

.dropdown-menu {
  min-width: 300px;
  position: absolute;
  display: none;
}

.dropdown-menu ul {
  width: 100%;
  display: block;
  margin-top: 40px;
  background-color: var(--bg-lightsilver);
  box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
}

.dropdown-menu ul a li {
  display: block;
  margin: 0 !important;
  padding: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  font-size: var(--fs-3);
}



.dropdown-menu ul li:hover {
  background-color: var(--bg-lightersilver);
}

.dropdown-menu ul li::after {
  /* content: ' ›'; */
  font-size: var(--fs-2);
}

.dropdown:hover .dropdown-menu {
  display: block;
}

/* NAVBAR DROPDOWN END */

/* NAVBAR DROPDOWN SUB START */

/* .dropdown-submenu {
    min-width: 200px;
    display: none;
    position: absolute;
    left: 100%;
    margin-top: -65px;

}

.dropdown-submenu ul {
    margin-left: 10px;
    background-color: var(--bg-lightsilver);
    box-shadow: -2px 2px 5px rgba(0, 0, 0, 0.4);
}

.dropdown-submenu ul li::after {
    content: '';
}

.dropdown-sub:hover .dropdown-submenu {
    display: block;
} */

/* NAVBAR DROPDOWN SUB END */
/* NAVBAR MENU END */
/* HEADER END */

/* SLIDER START */

.slider {
  width: 100%;
  height: var(--slider-height);
  background-color: rgb(236, 236, 236);
  position: relative;
  display: flex;
  overflow: hidden;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.4);
}

/* SLIDER END */

/* BODY START  */

/* PRIORITY START  */
.priority {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  user-select: none;
  padding: 40px 0;
}

.priority article {
  padding: 20px 0px;
  font-family: "bpg banner caps";
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-direction: row; */
  color: var(--bg-darkgray);
  /* background-color: #ccc;
    border-radius: 8px; */
  transition: 0.5s;
}

.priority article:hover {
  background-color: #e5e5e5;
  border-radius: 8px;
}

.priority article span {
  padding: 10px;
  background-color: #333;
  color: var(--bg-lightsilver);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  border-radius: 5px;
  font-size: var(--fs-2);
}

/* PRIORITY END */

/* PRODUCTIONS START */

.productions-container {
  width: 100%;
  margin: 50px 0;
  display: flex;
  flex-direction: column;
  user-select: none;
}

.productions-container h1 {
  text-align: center;
  font-family: "bpg banner caps";
  margin-bottom: 45px;
  letter-spacing: 2px;
  color: var(--c-darkgray);
}

.productions {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.productions article {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  /* border: 1px solid var(--bg-lightersilver); */
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 0 10px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.productions article:hover {
  box-shadow: 4px 5px 5px rgba(0, 0, 0, 0.2);
}

.pa-name {
  padding: 25px 20px 5px 20px;
  font-family: "bpg banner caps";
}

.pa-icon {
  font-size: var(--fs-1);
  margin-top: 5px;
  color: var(--c-darkgray);
}

.pa-description {
  max-height: 250px;
  min-height: 250px;
  padding: 20px;
  letter-spacing: 0.045rem;
  line-height: 1.16rem;
  font-size: var(--fs-4);
  display: flex;
  overflow: auto;
  font-family: "bpg glaho web caps";
}

.pa-description::-webkit-scrollbar {
  width: 3px;
}

.pa-description::-webkit-scrollbar-track {
  background-color: #bbb;
}

.pa-btn {
  padding: 10px 40px;
  background-color: rgb(36, 83, 172);
  border: none;
  border-radius: 5px;
  margin-top: 26px;
  margin-bottom: 26px;
  cursor: pointer;
  font-size: var(--fs-3);
  color: var(--bg-lightsilver);
  font-family: "bpg glaho web caps";
  transition: 0.3s;
  -webkit-transition: 0.3s;
}

.pa-btn:hover {
  background-color: rgb(26, 68, 145);
}

/* PRODUCTIONS START */

/* BODY END */

/* FOOTER START */
.footer {
  width: 100%;
  min-height: 350px;
  position: relative;
  background-color: var(--bg-lightsilver);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.2);
  user-select: none;
}

.footer article {
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-right: 1px solid var(--bg-silver);
  font-family: "bpg banner caps";
  color: var(--c-darkgray);
}

.footer-name {
  width: 100%;
  margin-bottom: 60px;
}

.footer-content {
  padding-left: 40px;
}

.footer-content ul {
  list-style-type: none;
}

.footer-content ul li {
  margin-bottom: 25px;
}

.footer-content ul li a,
.footer-content ul li {
  display: flex;
  font-size: var(--fs-3);
  font-family: "bpg glaho web caps";
  color: var(--c-darkgray);
}

.footer-content ul li a div,
.footer-content ul li div {
  width: 40px;
}

/* FOOTER END */

.container {
  width: 78%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

/* PAGE SECTION START */

.page-section {
  width: 100%;
  height: 1000px;
  margin-top: 40px;
  font-size: var(--fs-1);
  user-select: none;
}

.ps-header {
  font-family: 'bpg banner caps';
  text-align: center;
  letter-spacing: 2px;
}

/* PAGE SECTION START */

@media screen and (max-width: 1366px) {
  .container {
    width: 93%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 1000px) {
  .productions {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 844px) {
  .th-contact {
    display: none;
  }

  .top-header {
    padding: 10px;
  }

  .productions {
    grid-template-columns: repeat(1, 1fr);
  }

  .container {
    width: 63%;
  }

  .priority {
    grid-template-columns: repeat(1, 1fr);
  }

  .priority article {
    justify-content: start;
  }
}

@media screen and (max-width: 748px) {
  .container {
    width: 93%;
  }

  .navbar {
    display: none;
  }

  .footer {
    grid-template-columns: repeat(1, 1fr);
  }
}