*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-darkgray: rgb(39, 39, 39);

    --th-fs: 1rem;
}

@media screen and (max-width: 1366px) {
    :root {
        --th-fs: .9rem;
    }
}

body {
    background-color: #efefef;
}

a {
    text-decoration: none;
}

/* TOP HEADER */
.top-header {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: black;
    color: #eee;
    padding: 0 50px;
    position: sticky;
    top: 0px;
    z-index: 4;

}

/* ------------------ WEBICONS START */
.web-icons {
    min-width: 20%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: end;
    border-right: 1px solid var(--bg-darkgray);
    position: relative;
}

.web-icons ul li {
    list-style-type: none;
    margin-right: 30px;
    display: inline-block;
}

.web-icons ul li a {
    font-size: 1.3rem;
    color: white;
}

/* ----------------- WEBICONS END */

/* CONTACT START */
.th-contact {
    min-width: 15%;
    height: 75%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    border-right: 1px solid var(--bg-darkgray);
}


.th-contact a {
    color: white;
    font-size: 1.3rem;
    display: flex;
    align-items: center;
}

.th-contact a span {
    font-size: var(--th-fs);
    margin-left: 20px;
    font-family: 'bpg banner';
}

.container-1 {
    width: 73%;
    margin-left: auto;
    margin-right: auto;
}

/* CONTACT END */

/* LANGUAGE START */

.th-lang {
    width: 50px;
    height: 75%;
    margin-left: auto;
    border-left: 1px solid var(--bg-darkgray);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.th-lang ul {
    list-style-type: none;
}

.primary-lang {

    padding: 0 10px 0px 10px;
}

.lang-menu {
    position: absolute;
    display: none;
    background-color: #000;
    padding: 10px;
    border-radius: 0 0 5px 5px;
}

.th-lang img, .lang-menu li img {
    width: 32px;
}

.th-lang:hover .lang-menu {
    display: block;
}

/* LANGUAGE END */

.header {
    width: 100%;
    height: 70px;
    background-color: #aaa;
    display: flex;
    align-items: center;
    padding: 0 20px;
    position: sticky;
    top: 50px;
    z-index: 3;
}

.slider {
    width: 100%;
    height: 500px;
    background-color: #ccc;
    position: relative;
    display: flex;
}